*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-top{
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(255, 235, 205, 0.911); */
    background: rgba(131, 144, 174, 0.822);
    margin: 0 ;
}
.submit{
    /* background: rgba(202, 112, 70, 0.973); */
    margin: 10px 0px 10px 3rem;
    /* border-style: solid none none solid; */
    /* border-color: rgba(248, 166, 111, 0.466); */
    border-radius: 50% 0% 50% 0% / 50% 50% 50% 50% ;
    width: 60px;
    /* box-shadow: -8px -8px 5px white,
    5px 5px 10px rgb(233, 167, 122); */
        box-shadow: inset -2px -2px 0px rgba(235, 191, 162, 0.568);
        border-radius: ;
    /* box-shadow: 
    0px 0px 0px 5px rgb(245, 225, 225),
    8px 8px 15px rgb(223, 154, 154),
    -8px -8px 5px white; */
      text-decoration: none;
      color: black;
      font-family: 'Outfit', sans-serif;
      padding-left: 10px;
      margin-top: 10px;
      /* transform: scale(0.8); */
      background-color: rgba(165, 177, 204, 0.822);
      transition-property: transform;
      transition-duration: 0.2s;
}
.submit:hover{
        transform: rotateZ(-10deg);
}
.submit:active{
    transform:scale(0.9)
}
.submit p{
    position: relative;
    /* left: 7px; */
    top: 16.3px;
    right: 2.7px;
    font-size: 1.3rem;
}
.right-nav{
    display: flex;
}
.nav-top ul{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    gap: 40px;
    margin: 10px -35px ;
}
.list img{
    width: 45px;  
    box-shadow:  inset -2px -2px 0px rgba(235, 191, 162, 0.76);
    border-radius: 50%;
    background-color: rgba(165, 177, 204, 0.822); 
    transition: transform 0.2s ;
}
.list img:hover{
    transform: rotateZ(-10deg);
}

.list img:active{
    transform: scale(0.9);
}
.ham-div{
    width: 40px;
    margin:10px 50px;
}
.ham-icon{
width: 2rem;
display: none
}
main{
    /* background-color: rgba(255, 235, 205, 0.911); */
    background-color: rgb(131, 144, 174, 0.822);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
}
.first-img-div{
      background-color: ;
      margin:  0  3.5rem 0 3.5rem;
      width: calc(100vw - 7rem);
      height: calc(100vh - 68.67px);
      background: url(../img/2020081360073428.jpg) no-repeat center;
      background-size: cover;
      background-attachment: fixed;
      color: white;
      font-family: 'Outfit', sans-serif;
      padding: 100px 200px;
      text-align: center;
}
.first-img-div h1{
font-family: 'Pacifico', cursive;    font-size: 4rem;
    margin-bottom:50px ;
}
.first-img-div h2{
    margin-bottom: 20px;
    font-size: 2rem;
}
.first-img-div p{
    font-size: 1.5rem;
}
.first-img{
    width: calc(100vw - 7rem);
}
.advise{
    background-color: white;
    margin: 0 3.5rem;
    text-align: center;
    padding:25px ;
    font-family: 'Outfit', sans-serif;
    font-style: oblique;
    color:rgb(131, 144, 174, 0.822) ;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap: 30px;
    background-color: #fff;
    margin: 0px 3.5rem;
    padding: 20px 25px 120px 25px;
    width: calc(100vw - 7rem);
}
.card-image{
    width: 65%;
    margin-top: 25px;
}
.huge{
    width: 60%;
}
.card-image:active{
    /* transform: scale(1.5); */
    position: fixed;
    top: 0;
    width: 350px;
    z-index: 1;
}
.size{
    font-size: 0.8rem;
}
.card{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    /* border: solid; */

    border-radius: 1% ;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    min-height: 370px;
    /* padding: 20px; */
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.1),
    -2px -5px 25px  #9b9999;
    position: relative;
}
/* figcaption{
    position: absolute;
    bottom: 60px;
    right: 100px;
    background-color: white;
    border-radius: 20% 20% 0 0;
} */
.persent{
    background-color: rgb(182, 63, 42);
    width: 45px;
    height: 30px;
    border-radius: 5% 0 12% 0/ 5% 0 20% 0;
    color: white;
    padding-top: 5px;
    position: absolute;

}
.heart{
    background-color: rgb(110, 91, 177);
    width: 30px;
    height: 30px;
    padding-top: 5.5px;
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    left: 5px;
}
.fa-heart{
    color: rgb(250, 247, 246);
    font-size: 15px;
}
.shop{
    background-color: rgb(41, 136, 77);
    padding-top: 5.5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    left: 40px;


}
.fa-cart-plus{
    color: rgb(250, 247, 246);
    font-size: 17px;

}
.star{
    position: absolute;
    right: 15px;
    top: 10px;
    color: gold;
}
.fa-star-half-stroke{
    width: 18px;
}
.price{
    background-color: rgb(202, 191, 191);
    font-size: 1rem;
    position: absolute;
    bottom: 10px;
    right: 0px;
    
}
footer {
    /* background-color:  rgba(255, 235, 205, 0.746); */
        background-color: rgb(131, 144, 174, 0.822);
    min-height: 200px;
    display: flex;
    flex-flow:row wrap;
    font-family: 'Outfit', sans-serif;
}
.about-us{
    width: 600px;
    margin: 0 3.5rem;
}
@media (max-width:480px) {
    .ham-icon{
        display: block;
    }
   .nav-top ul{
       display: none;
   }
   .first-img-div{
        display: none;
}